/*Created with Adobe RoboHelp.*/
body {
	background-color: #ffffff;
}
p {
	font-family: Verdana;
	font-size: 10.0pt;
	color: #000000;
	margin-bottom: 4.5pt;
	margin-top: 0pt;
}
li.p {
	font-family: Verdana;
	font-size: 10.0pt;
	color: #000000;
}
li {
	font-family: Verdana;
	font-size: 10.0pt;
	color: #000000;
}
h1 {
	font-family: Verdana;
	font-weight: bold;
	font-size: 12.0pt;
	color: #000000;
}
li.h1 {
	font-family: Verdana;
	font-weight: bold;
	font-size: 12.0pt;
	color: #000000;
}
h2 {
	font-family: Verdana;
	font-weight: bold;
	font-size: 10.0pt;
	color: #000000;
	border-bottom: Solid 1px #000000;
}
li.h2 {
	font-family: Verdana;
	font-weight: bold;
	font-size: 10.0pt;
	color: #000000;
}
h3 {
	font-family: Verdana;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
}
li.h3 {
	font-family: Verdana;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
}
h4 {
	font-family: Verdana;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
}
li.h4 {
	font-family: Verdana;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
}
h5 {
	font-family: Verdana;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
}
li.h5 {
	font-family: Verdana;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
}
h6 {
	font-family: Verdana;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
}
li.h6 {
	font-family: Verdana;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
}
a:link {
	color: #0000ff;
	text-decoration: underline;
}
a:visited {
	color: #0000ff;
	text-decoration: underline;
}
a.expandspot {
	color: #008000;
	cursor: hand;
	font-style: italic;
	text-decoration: none;
}
span.expandtext {
	font-style: italic;
	font-weight: normal;
	color: #ff0000;
}
a.dropspot {
	cursor: hand;
	color: #008000;
	font-style: italic;
	text-decoration: none;
}
a.glossterm {
	color: #800000;
	cursor: hand;
	font-style: italic;
	text-decoration: none;
}
span.glosstext {
	font-style: italic;
	font-weight: normal;
	color: #0000ff;
}
ol,
ul {
	margin-top: 0px;
	margin-bottom: 0px;
}
table.TopRowAlternatingRows {
	border-left-style: Solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: Solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	x-row-pat-1: 1;
	x-row-pat-1-name: t1Row;
	x-row-pat-count: 2;
	x-row-pat-2: 1;
	x-row-pat-2-name: t2Row;
	x-1st-row: 1;
	x-1st-row-name: t1st;
}
table.TopRowAlternatingRows tr.t1Row td {
	font-family: Arial;
	font-size: 10pt;
	border-left-style: Solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: Solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	background-color: #ccffcc;
}
table.TopRowAlternatingRows tr.t2Row td {
	font-family: Arial;
	font-size: 10pt;
	border-left-style: Solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: Solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
}
table.TopRowAlternatingRows tr.t1st td {
	text-align: Center;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	background-color: #c0c0c0;
	border-left-style: Solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: Solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
}
