/* Globals */
html body { background:#fff none; overflow:visible !important; }

/* C-Clamp */
.header_container { display:none; }
.countrynav_container { display:none; }
.topnav_container { display:none; }
.section_image { display:none; }
.section_image table { display:none; }
.content_frame { border:0px; }
.docsearch_container { display:none; }
.breadcrumbs_container { display:none; }
.breadcrumbs, #breadcrumbs { display:none; }
.breadcrumbs_outer, .breadcrumbs_inner { display:none; } 

/* Content */
h1 { font-family:Arial, Helvetica, sans-serif; }
ul { margin-left:22px; list-style:square; }
ul li { padding-left:0px; list-style-type:square; background:none; }
ul li ul { margin-left:22px; list-style:square; }
ul li ul li { padding-left:0px; list-style-type:square; background:none; }
ol { list-style:decimal; }
ol li { list-style-type:decimal; background:none; }
ol li ol li { list-style-type:lower-alpha; }
ol li ul { list-style:square; }
ol li ul li { padding-left:0px; list-style-type:square; background:none; }

#spotlight { display:none; }

#content_container2, #content_container { font-size:1.1em; overflow:visible !important; position:static;  }
.grid_146 #content_container2 { overflow:visible !important; }

/*TOC */
.toc_pane { display:none !important; }
.site_container.site_toc_closed { margin-left:30px !important; }
.site_container.site_toc_opened { margin-left:30px !important; }

.doc_topic_desc #expandAllPage { display:none; }

.feedbackblock { display:none; }

.doc_nda_notice { margin-bottom:30px; }

.syntax_signature li { list-style-type:none; }

.fat_footer { display:none; }
.footer_container { display:none; }

/* Grid Adjustments */
.content_frame .grid_39.push_2 { display:none; }
.content_frame .grid_35.push_2 { display:none; }
.content_frame .grid_35.push_3 { display:none; }
.container_192, .grid_192, .page_container, .content_frame, .grid_146, .content_container, #content_container, #content_container2 { padding:0px; margin:0px; width:100%; float:none; position:relative; }
.push_3 { margin:0px; padding:0px; }

